.mediaViewInfo {
    --web-view-name: Blaze;
    --web-view-id: Blaze;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-refresh-for-changes: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(20, 20, 20, 1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(102, 212, 250, 1);
}

:root {
    --web-view-ids: Blaze;
}

.Blaze_Video_1 {
    position: relative;
    width: 1920px;
    top: -130px;
}

.Blaze_Video_2 {
    position: relative;
    width: 660px;
    HEIGHT: 600PX;
    LEFT: 250PX;
}

.Blaze_Video_3 {
    position: relative;
    top: -8px;
    left: 112px;
    height: 770px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow-x: hidden;
}

.Blaze_Class {
    position: absolute;
    width: 1920px;
    height: 7576px;
    background-color: rgba(15, 15, 15, 1);
    overflow: hidden;
    --web-view-name: Blaze;
    --web-view-id: Blaze;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-refresh-for-changes: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

.Footer_Class {
    position: absolute;
    width: 1592px;
    height: 821px;
    left: 164px;
    top: 6651px;
    overflow: visible;
}


.Copyright_Class {
    position: absolute;
    width: 226px;
    height: 19px;
    left: 669px;
    top: 802px;
    overflow: visible;
}

.Copyright_Sports_Club_2020_Class {
    left: 56px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 171px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(152, 150, 150, 1);
}

.Copyright_Icon_Class {
    position: absolute;
    width: 14px;
    height: 16px;
    left: 0px;
    top: 2px;
    overflow: visible;
}

.Ellipse_80_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Ellipse_80 {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 1px;
}

.C_Class {
    left: 3px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: right;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 11px;
    color: rgba(152, 150, 150, 1);
}

.Legal_Class {
    display: none;
    position: absolute;
    width: 138px;
    height: 102px;
    left: 1270px;
    top: 572px;
    overflow: visible;
}

.Terms__Conditions_Class {
    left: 0px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 139px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(152, 150, 150, 1);
}

.Privacy_Policy_Class {
    left: 22px;
    top: 52px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(152, 150, 150, 1);
}

.Legal__Class {
    left: 48px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(152, 150, 150, 1);
}

.Contact_Us_Class {
    position: absolute;
    width: 340px;
    height: 167px;
    left: 1000px;
    top: 372px;
    overflow: visible;
}

.Group_497_Class {
    position: absolute;
    width: 340px;
    height: 118.5px;
    left: 0px;
    top: 48.5px;
    overflow: visible;
}

.Sportsclubnmimsgmailcom_Class {
    left: 80px;
    top: 94.5px;
    position: absolute;
    overflow: visible;
    width: 225px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: center;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Mail_Icon_Class {
    fill: rgba(152, 150, 150, 1);
}

.Mail_Icon {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 18px;
    left: 0px;
    top: 97.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Viren_Chhajer_____-_9181691069_Class {
    left: 80px;
    top: 56.5px;
    position: absolute;
    overflow: visible;
    width: 255px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: center;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Kushagra_Gupta_-_918826843795_Class {
    left: 80px;
    top: 28.5px;
    position: absolute;
    overflow: visible;
    width: 259px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: center;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Hardik_Vasudeva_-_918826843795_Class {
    display: none;
    left: 80px;
    top: 0.5px;
    position: absolute;
    overflow: visible;
    width: 263px;
    white-space: nowrap;
    line-height: 45px;
    margin-top: -13.5px;
    text-align: center;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Phone_Icon_Class {
    fill: rgba(152, 150, 150, 1);
}

.Phone_Icon {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 25px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Contact_Us_ba_Class {
    left: 144px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(152, 150, 150, 1);
}

.Address_Class {
    position: absolute;
    width: 189px;
    height: 138px;
    left: 300px;
    top: 372px;
    overflow: visible;
}

.ID7th_Floor_V_L_Mehta__Road_Vi_Class {
    left: 37px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(152, 150, 150, 1);
}

.Location_Icon_Class {
    fill: rgba(152, 150, 150, 1);
}

.Location_Icon {
    overflow: visible;
    position: absolute;
    width: 16.8px;
    height: 24px;
    left: 0px;
    top: 52px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Address_be_Class {
    left: 93px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(152, 150, 150, 1);
}

.Linkedin_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.805px;
    left: 871px;
    top: 210px;
    overflow: visible;
}

.Circle_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Circle {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.805px;
    left: 0px;
    top: 0px;
}

.Path_213_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_213 {
    overflow: visible;
    position: absolute;
    width: 12.48px;
    height: 13.216px;
    left: 32.577px;
    top: 31.593px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_214_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_214 {
    overflow: visible;
    position: absolute;
    width: 4.004px;
    height: 12.893px;
    left: 26.066px;
    top: 31.916px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_215_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_215 {
    overflow: visible;
    position: absolute;
    width: 4.638px;
    height: 4.659px;
    left: 25.747px;
    top: 26.552px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Instagram_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.805px;
    left: 761px;
    top: 210px;
    overflow: visible;
}

.Circle_bl_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Circle_bl {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.805px;
    left: 0px;
    top: 0px;
}

.Path_210_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_210 {
    overflow: visible;
    position: absolute;
    width: 19.311px;
    height: 19.314px;
    left: 25.746px;
    top: 25.747px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_211_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_211 {
    overflow: visible;
    position: absolute;
    width: 9.923px;
    height: 9.923px;
    left: 30.444px;
    top: 30.445px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_212_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_212 {
    overflow: visible;
    position: absolute;
    width: 2.317px;
    height: 2.316px;
    left: 39.404px;
    top: 29.09px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Facebook_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.921px;
    left: 651px;
    top: 210px;
    overflow: visible;
}

.Circle_bq_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Circle_bq {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.921px;
    left: 0px;
    top: 0px;
}

.f_Class {
    fill: rgba(152, 150, 150, 1);
}

.f {
    overflow: visible;
    position: absolute;
    width: 10.494px;
    height: 20.095px;
    left: 29.738px;
    top: 25.337px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Developed_By_Tech_Club_Class {
    left: 653px;
    top: 720px;
    position: absolute;
    overflow: visible;
    width: 227px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(152, 150, 150, 1);
}

.Tech_Club_Footer_Logo_Class {
    position: absolute;
    width: 136px;
    height: 136px;
    left: 728px;
    top: 570px;
    overflow: visible;
}


.Glow_Class {
    opacity: 0.25;
    filter: blur(50px);
    position: absolute;
    width: 136px;
    height: 136px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Logo_Class {
    position: absolute;
    width: 106px;
    height: auto;
    left: 10px;
    top: 30px;
    overflow: visible;
}


.Glow_bx_Class {
    filter: blur(12px);
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_bx {
    overflow: visible;
    position: absolute;
    width: 637px;
    height: 76px;
    left: 0px;
    top: -40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.White_Line_Class {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.White_Line {
    overflow: visible;
    position: absolute;
    width: 638px;
    height: 7px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Sports_Club_Footer_Logo_Class {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 760px;
    top: 0px;
    overflow: visible;
}

.Glow_b_Class {
    opacity: 0.5;
    filter: blur(12px);
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Logo_b_Class {
    position: absolute;
    width: 150px;
    height: auto;
    left: 10x;
    top: 0px;
    overflow: visible;
}

.Right_Line_Glow_Class {
    position: absolute;
    width: 707px;
    height: 76px;
    left: 961px;
    top: 25px;
    overflow: visible;
}

.Left_Line_Glow_Class {
    position: absolute;
    width: 707px;
    height: 76px;
    left: 0px;
    top: 25px;
    overflow: visible;
}

.Glow_ca_Class {
    filter: blur(12px);
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_ca {
    overflow: visible;
    position: absolute;
    width: 637px;
    height: 76px;
    left: 0px;
    top: -40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.White_Line_b_Class {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.White_Line_b {
    overflow: visible;
    position: absolute;
    width: 638px;
    height: 7px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Sponsors_Section_Class {
    position: absolute;
    width: 1757px;
    height: 677px;
    left: 0px;
    top: 5700px;
    overflow: visible;
}

.Sponsor_4_Class {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1407px;
    top: 327px;
    overflow: visible;
}

.Glow_cb_Class {
    filter: blur(17px);
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 25px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_cb {
    position: absolute;
    overflow: visible;
    width: 452px;
    height: 452px;
    left: 0px;
    top: 0px;
}

.Circle_b_Class {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Circle_b {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 350px;
    left: 0px;
    top: 0px;
}

.Zebronics_Class {
    position: absolute;
    width: 275px;
    height: 275px;
    left: 38px;
    top: 38px;
    overflow: visible;
}

.Sponsor_3_Class {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 991px;
    top: 327px;
    overflow: visible;
}

.Glow_cc_Class {
    filter: blur(17px);
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 25px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_cc {
    position: absolute;
    overflow: visible;
    width: 452px;
    height: 452px;
    left: 0px;
    top: 0px;
}

.Circle_cc_Class {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Circle_cc {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 350px;
    left: 0px;
    top: 0px;
}

.Youth_inc_Class {
    position: absolute;
    width: 275px;
    height: 275px;
    left: 38px;
    top: 38px;
    overflow: visible;
}

.Sponsor_2_Class {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 576px;
    top: 327px;
    overflow: visible;
}

.Glow_cf_Class {
    filter: blur(17px);
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 25px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_cf {
    position: absolute;
    overflow: visible;
    width: 452px;
    height: 452px;
    left: 0px;
    top: 0px;
}

.Circle_cg_Class {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Circle_cg {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 350px;
    left: 0px;
    top: 0px;
}

.VR_Gamezone_Class {
    position: absolute;
    width: 275px;
    height: 275px;
    left: 38px;
    top: 38px;
    overflow: visible;
}

.Sponsor_1_Class {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 160px;
    top: 327px;
    overflow: visible;
}

.Glow_cj_Class {
    filter: blur(17px);
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 25px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_cj {
    position: absolute;
    overflow: visible;
    width: 452px;
    height: 452px;
    left: 0px;
    top: 0px;
}

.Circle_ck_Class {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Circle_ck {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 350px;
    left: 0px;
    top: 0px;
}

.Starbucks_Class {
    position: absolute;
    width: 275px;
    height: 278.094px;
    left: 38px;
    top: 36px;
    overflow: visible;
}

.OUR_SPONSORS_Background_Class {
    opacity: 0.6;
    left: 20px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 1053px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 1px;
}

.Sponsors_Line_Class {
    fill: transparent;
    stroke: rgba(156, 13, 3, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Sponsors_Line {
    overflow: visible;
    position: absolute;
    width: 734px;
    height: 10px;
    left: 0px;
    top: 78.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.OUR_SPONSORS_Title_Class {
    left: 160px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 477px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -3.5px;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25px;
}

.Brochures_Section_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 4751px;
    overflow: visible;
}

.Brochure_Background_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.BROCHURE_NAME {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 30PX;
    left: -415px;
    position: relative;
    width: 370px;
    overflow-x: visible;
    top: -50px;
}

.BROCHURE_NAME1 {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 30PX;
    left: 185px;
    position: relative;
    width: 370px;
    overflow-x: visible;
    top: -50px;
}

.Black_Layer_Class {
    opacity: 0.7;
    fill: rgba(0, 0, 0, 1);
}

.Black_Layer {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
}

.Download_Blaze_Class {
    position: absolute;
    width: 201.4px;
    height: 59.2px;
    left: 1068px;
    top: 758px;
    overflow: visible;
}

.Lower_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Lower {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 99px;
    top: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Upper_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Upper {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.DOWNLOAD_Class {
    left: 35px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 120px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.Download_Marketing_Class {
    position: absolute;
    width: 196.4px;
    height: 59.2px;
    left: 705px;
    top: 758px;
    overflow: visible;
}

.Lower_cx_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Lower_cx {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 0px;
    top: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Upper_cy_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Upper_cy {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 94px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.DOWNLOAD_cz_Class {
    left: 32px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 120px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.Blaze_Brochure_Class {
    position: absolute;
    width: auto;
    height: 483px;
    left: 1060px;
    top: 205px;
    overflow: visible;
}

.Marketing_Brochure_Class {
    position: absolute;
    width: auto;
    height: 483px;
    left: 80px;
    top: 205px;
    overflow: visible;
}

.Brochures_Line_Class {
    fill: transparent;
    stroke: rgba(156, 13, 3, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Brochures_Line {
    overflow: visible;
    position: absolute;
    width: 606px;
    height: 10px;
    left: 0px;
    top: 79.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.BROCHURES_Class {
    left: 160px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 367px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -3.5px;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25px;
}

.Prefest_Section_Class {
    position: absolute;
    width: 1759px;
    height: 866px;
    left: 0px;
    top: 3800px;
    overflow: visible;
}

.Prefest_Animation_Class {
    position: absolute;
    width: 1599px;
    height: 649px;
    left: 160px;
    top: 117px;
    overflow: visible;
}

.Prefest_Image_Class {
    position: absolute;
    width: 1599px;
    height: 649px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Prefest_Background_Class {
    opacity: 0.6;
    left: 20px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 469px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 1px;
}

.Prefest_Line_Class {
    fill: transparent;
    stroke: rgba(156, 13, 3, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Prefest_Line {
    overflow: visible;
    position: absolute;
    width: 473px;
    height: 10px;
    left: 0px;
    top: 78.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Prefest_Title_Class {
    left: 160px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 208px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -3.5px;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25px;
}

.Blaze_Heads_Section_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 3800px;
    overflow: visible;
    display: none;
}

.Blaze_Heads_Background_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Black_Layer_dc_Class {
    opacity: 0.7;
    fill: rgba(0, 0, 0, 1);
}

.Black_Layer_dc {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
}

.Dhyaan_Lilani_Class {
    position: absolute;
    width: 404px;
    height: 571px;
    left: 1110px;
    top: 220px;
    overflow: visible;
}

.Dhyaan_Background_Class {
    fill: rgba(22, 22, 22, 1);
}

.Dhyaan_Background {
    position: absolute;
    overflow: visible;
    width: 404px;
    height: 571px;
    left: 0px;
    top: 0px;
}

.Dhyaan_Circle_Class {
    fill: rgba(3, 170, 227, 1);
}

.Dhyaan_Circle {
    position: absolute;
    overflow: visible;
    width: 218px;
    height: 218px;
    left: 93px;
    top: 177px;
}

.Dhyaan_Photo_Class {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    width: 280px;
    height: 372px;
    left: 62px;
    top: 115px;
    overflow: visible;
}

.DHYAAN_LILANI_Class {
    left: 49px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 278px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

.Rachiet_Shah_Class {
    position: absolute;
    width: 404px;
    height: 571px;
    left: 406px;
    top: 220px;
    overflow: visible;
}

.Rachiet_Background_Class {
    fill: rgba(22, 22, 22, 1);
}

.Rachiet_Background {
    position: absolute;
    overflow: visible;
    width: 404px;
    height: 571px;
    left: 0px;
    top: 0px;
}

.Rachiet_Circle_Class {
    fill: rgba(245, 42, 42, 1);
}

.Rachiet_Circle {
    position: absolute;
    overflow: visible;
    width: 218px;
    height: 218px;
    left: 93px;
    top: 177px;
}

.Rachiet_Photo_Class {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    width: 280px;
    height: 372px;
    left: 62px;
    top: 115px;
    overflow: visible;
}

.RACHIET_SHAH_Class {
    left: 57px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 262px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

.Heads_Line_Class {
    fill: transparent;
    stroke: rgba(156, 13, 3, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Heads_Line {
    overflow: visible;
    position: absolute;
    width: 768.5px;
    height: 10px;
    left: 0px;
    top: 89.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.BLAZE_HEADS_Class {
    left: 160px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 516px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25px;
}

.Events_Section_Class {
    position: absolute;
    width: 1920px;
    height: 883.2px;
    left: 0px;
    top: 2851px;
    overflow: visible;
}

.Basketball_Register_Button_Class {
    position: absolute;
    width: 196.4px;
    height: 59.2px;
    left: 1186px;
    top: 823px;
    overflow: visible;
}

.REGISTER_Class {
    left: 46px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.Lower_ds_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Lower_ds {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 0px;
    top: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Upper_dt_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Upper_dt {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 94px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Football_Register_Button_Class {
    position: absolute;
    width: 196.4px;
    height: 59.2px;
    left: 538px;
    top: 824px;
    overflow: visible;
}

.REGISTER_dv_Class {
    left: 46px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.Lower_dw_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Lower_dw {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 0px;
    top: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Upper_dx_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Upper_dx {
    overflow: visible;
    position: absolute;
    width: 104.9px;
    height: 45.699px;
    left: 94px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Basketball_Image_Class {
    position: absolute;
    width: 260px;
    height: 718px;
    left: 1435px;
    top: 165px;
    overflow: visible;
}

.Basketball_Background_Class {
    opacity: 0.6;
    left: 1070px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 686px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 1px;
}

.Basketball_Line_Class {
    fill: transparent;
    stroke: rgba(156, 13, 3, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Basketball_Line {
    overflow: visible;
    position: absolute;
    width: 625px;
    height: 10px;
    left: 1300px;
    top: 110px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Basketball_Title_Class {
    left: 1365px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 303px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -3.5px;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25px;
}

.Football_Image_Class {
    position: absolute;
    width: 634px;
    height: 498px;
    left: 161px;
    top: 297px;
    overflow: visible;
}

.Football_Background_Class {
    opacity: 0.6;
    left: 20px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 547px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 1px;
}

.Football_Line_Class {
    fill: transparent;
    stroke: rgba(156, 13, 3, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Football_Line {
    overflow: visible;
    position: absolute;
    width: 547px;
    height: 10px;
    left: 0px;
    top: 110px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Football_Title_Class {
    left: 160px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 242px;
    white-space: nowrap;
    line-height: 67px;
    margin-top: -3.5px;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25px;
}

.Aftermovie_Section_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 1900px;
    overflow: visible;
}

.Aftermovie_Background_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Aftermovie_Background_Image_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Aftermovie_Black_Layer_Class {
    fill: rgba(0, 0, 0, 0.612);
    width: 1920px;
    height: 950px;
}

.Aftermovie_Black_Layer {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
}

.Aftermovie_Border_Class {
    position: absolute;
    width: 1599px;
    height: 778px;
    left: 194px;
    top: 86px;
    overflow: visible;
}

.Aftermovie_Glow_Class {
    filter: blur(15px);
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    width: 1377px;
    height: 778px;
}

.Aftermovie_Glow {
    position: absolute;
    overflow: visible;
    width: 1689px;
    height: 868px;
    left: 87px;
    top: 0px;
}

.Aftermovie_Line_Class {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    width: 1377px;
    height: 778px;
}

.Aftermovie_Line {
    position: absolute;
    overflow: visible;
    width: 1599px;
    height: 778px;
    left: 87px;
    top: 0px;
}

.Aftermovie_Video_Class {
    position: absolute;
    width: 1577.015px;
    height: 749.668px;
    left: 172.985px;
    top: 98.596px;
    overflow: visible;
}

.Aftermovie_Video_Image_Class {
    filter: drop-shadow(0px 8px 6px rgba(254, 254, 254, 0.161));
    position: absolute;
    width: 1577.015px;
    height: 749.668px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.About_Blaze_Section_Class {
    position: absolute;
    width: 1755.343px;
    height: 867.554px;
    left: 0px;
    top: 951px;
    overflow: visible;
}

.Left_Glow_Class {
    position: absolute;
    width: 242.011px;
    height: 370.251px;
    left: 1513.332px;
    top: 153.727px;
    overflow: visible;
}

.Glow_eh_Class {
    filter: blur(17px);
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_eh {
    overflow: visible;
    position: absolute;
    width: 245.873px;
    height: 455.271px;
    left: 0px;
    top: -40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line {
    overflow: visible;
    position: absolute;
    width: 245.434px;
    height: 373.781px;
    left: 0.221px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Sports_Aftermovie_Class {
    position: absolute;
    width: 994px;
    height: 583.25px;
    left: 728.949px;
    top: 257px;
    overflow: visible;
}

.Aftermovie_Class {
    position: absolute;
    width: 992.929px;
    height: 583.25px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Black_Layer_el_Class {
    opacity: 0.4;
    fill: rgba(0, 0, 0, 1);
}

.Black_Layer_el {
    position: absolute;
    overflow: visible;
    width: 994px;
    height: 583px;
    left: 0px;
    top: 0px;
}

.About_Us_Text_Class {
    left: 265.949px;
    top: 330px;
    position: absolute;
    overflow: visible;
    width: 576px;
    white-space: normal;
    line-height: 40px;
    margin-top: -14px;
    text-align: justify;
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25px;
}

.Right_Glow_Class {
    position: absolute;
    width: 242.04px;
    height: 370.644px;
    left: 162.606px;
    top: 496.91px;
    overflow: visible;
}

.Glow_eo_Class {
    filter: blur(17px);
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Glow_eo {
    overflow: visible;
    position: absolute;
    width: 319.01px;
    height: 370.25px;
    left: -40px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_ep_Class {
    fill: transparent;
    stroke: rgba(102, 212, 250, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_ep {
    overflow: visible;
    position: absolute;
    width: 245.464px;
    height: 373.787px;
    left: 0.03px;
    top: 0.395px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.About_Blaze_Background_Class {
    opacity: 0.6;
    left: 20px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 927px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgba(41, 41, 41, 1);
    letter-spacing: 1px;
}

.About_Line_Class {
    fill: transparent;
    stroke: rgba(156, 13, 3, 1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.About_Line {
    overflow: visible;
    position: absolute;
    width: 660px;
    height: 10px;
    left: 0px;
    top: 110px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.About_Blaze_Title_Class {
    left: 160px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 416px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

.Landing_Section_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Blaze_Video_Class {
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Black_Layer_ew_Class {
    fill: url(#Black_Layer_ew);
}

.Black_Layer_ew {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 950px;
    left: 0px;
    top: 0px;
}

.Countdown_Class {
    position: absolute;
    width: 1005px;
    height: 326px;
    left: 21px;
    top: 630px;
    overflow: visible;
}

.Seconds_Section_Class {
    position: absolute;
    width: 155px;
    height: 126px;
    left: 350px;
    top: 0px;
    overflow: visible;
}

.Seconds_Timer_Class {
    position: absolute;
    width: 155px;
    height: 95px;
    left: 0px;
    top: 31px;
    overflow: visible;
}

.Path_1033_e_Class {
    fill: url(#Path_1033_e);
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_1033_e {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 95px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_22_Class {
    fill: transparent;
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_22 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 1px;
    left: 0px;
    top: 47.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID2_Class {
    left: 17px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

.Path_1033_fb_Class {
    fill: url(#Path_1033_fb);
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_1033_fb {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 95px;
    left: 80px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_22_e_Class {
    fill: transparent;
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_22_e {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 1px;
    left: 80px;
    top: 47.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID2_e_Class {
    left: 97px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

.Seconds_Class {
    left: 35px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

.Minutes_Section_Class {
    position: absolute;
    width: 155px;
    height: 126px;
    left: 175px;
    top: 0px;
    overflow: visible;
}

.Minutes_Timer_Class {
    position: absolute;
    width: 155px;
    height: 95px;
    left: 0px;
    top: 31px;
    overflow: visible;
}

.Path_1033_fd_Class {
    fill: url(#Path_1033_fd);
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_1033_fd {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 95px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_22_fd_Class {
    fill: transparent;
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_22_fd {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 1px;
    left: 0px;
    top: 47.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID2_fe_Class {
    left: 17px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

.Path_1033_fg_Class {
    fill: url(#Path_1033_fg);
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_1033_fg {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 95px;
    left: 80px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_22_fh_Class {
    fill: transparent;
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_22_fh {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 1px;
    left: 80px;
    top: 47.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID2_fi_Class {
    left: 97px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

.Minutes_Class {
    left: 38px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

.Hours_Section_Class {
    position: absolute;
    width: 155px;
    height: 126px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Hours_Timer_Class {
    position: absolute;
    width: 155px;
    height: 95px;
    left: 0px;
    top: 31px;
    overflow: visible;
}

.Path_1033_fn_Class {
    fill: url(#Path_1033_fn);
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_1033_fn {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 95px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_22_fo_Class {
    fill: transparent;
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_22_fo {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 1px;
    left: 0px;
    top: 47.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID2_fp_Class {
    left: 17px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

.Path_1033_fr_Class {
    fill: url(#Path_1033_fr);
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_1033_fr {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 95px;
    left: 80px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_22_fs_Class {
    fill: transparent;
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_22_fs {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 1px;
    left: 80px;
    top: 47.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID2_ft_Class {
    left: 97px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
}

.Hours_Class {
    left: 46px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

.BLAZE_Class {
    left: 160px;
    top: 527px;
    position: absolute;
    overflow: visible;
    width: 187px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
}

marquee {
    width: 1920px;
    height: 500px;
    position: relative;
    top: 200px;
}

.Side_Nav_Bar_Class {
    position: absolute;
    width: 71px;
    height: 130px;
    left: 1849px;
    top: 199.998px;
    overflow: visible;
    display: none;
}

.Nav_Animation_Class {
    fill: rgba(255, 255, 255, 1);
}

.Nav_Animation {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    position: absolute;
    width: 89px;
    height: 148px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Nav_Bar_Class {
    position: absolute;
    width: 1601.5px;
    height: 104px;
    left: 159px;
    top: 0px;
    overflow: visible;
}

.nav_bar_rect {
    stroke: #000;
    stroke-width: 155px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    fill: transparent;
}

.Nav_bar {
    overflow: visible;
    position: relative;
    width: 1900px;
    height: 145px;
    left: 0px;
    top: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Instagram_Logo_Class {
    fill: rgba(255, 255, 255, 1);
}

.Instagram_Logo {
    overflow: visible;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1566.5px;
    top: 35px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Facebook_Logo_Class {
    fill: rgba(255, 255, 255, 1);
}

.Facebook_Logo {
    overflow: visible;
    position: absolute;
    width: 16.189px;
    height: 31px;
    left: 1526px;
    top: 37px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Linkedin_Icon_Class1 {
    position: absolute;
    width: 70px;
    height: 70.805px;
    left: 1600px;
    top: 15px;
    overflow: visible;
}

.Path_2131_Class {
    fill: rgba(255, 255, 255, 1);
}

.Path_2131 {
    overflow: visible;
    position: absolute;
    width: 12.48px;
    height: 13.216px;
    left: 32.577px;
    top: 31.593px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_2141_Class {
    fill: rgba(255, 255, 255, 1);
}

.Path_2141 {
    overflow: visible;
    position: absolute;
    width: 4.004px;
    height: 12.893px;
    left: 26.066px;
    top: 31.916px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_2151_Class {
    fill: rgba(255, 255, 255, 1);
}

.Path_2151 {
    overflow: visible;
    position: absolute;
    width: 4.638px;
    height: 4.659px;
    left: 25.747px;
    top: 26.552px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Contact_Us_f_Class {
    left: 1344.5px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: view;
    --web-action-target: Contact_Us;
    cursor: pointer;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.Our_Team_Class {
    left: 1185px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: view;
    --web-action-target: Our_Team;
    cursor: pointer;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.Events_Class {
    left: 1058.5px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: view;
    --web-action-target: Basketball;
    cursor: pointer;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.Blaze_f_Class {
    left: 947px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(102, 212, 250, 1);
    text-transform: uppercase;
}

.Home_Class {
    left: 837.5px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: view;
    --web-action-target: Homepage;
    cursor: pointer;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.Logo_f_Class {
    position: absolute;
    width: 385px;
    height: 104px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Sports_Logo_Class {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 50px;
    top: 15px;
    overflow: visible;
}

.NMIMS_ASMSOC_SPORTS_CLUB_Class {
    left: 134px;
    top: 27px;
    line-height: 20px;
    position: absolute;
    overflow: visible;
    width: 160px;
    white-space: normal;
    text-align: left;
    font-family: 'Lemon/Milk Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
}

.Home_Class:hover {
    color: rgba(102, 212, 250, 1);
}

.Our_Team_Class:hover {
    color: rgba(102, 212, 250, 1);
}

.Events_Class:hover {
    color: rgba(102, 212, 250, 1);
}

.Contact_Us_f_Class:hover {
    color: rgba(102, 212, 250, 1);
}

.Facebook_Logo_Class:hover {
    fill: rgba(102, 212, 250, 1);
}

.Instagram_Logo_Class:hover {
    fill: rgba(102, 212, 250, 1);
}

.topnav {
   
    overflow: hidden;
    background-color: #0f0f0f;
    position: relative;
    max-width: 430px;
    z-index: 100;
    display: none;
}

.topnav #myLinks {
    display: none;
    z-index: 100;
}

.topnav a {
    color: white;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 30px;
    font-family: "Lemon/Milk Regular";
    display: block;
    z-index: 100;
}

.topnav a.icon {
    background: #0f0f0f;
    display: block;
    position: absolute;
    right: 0;
    top: 7px;
    z-index: 100;
}

.topnav a:hover {
    background-color: rgba(102, 212, 250, 1);
    color: #0f0f0f;
    z-index: 100;
}

.active {
    background-color: #0f0f0f;
    color: rgb(255, 255, 255);
    z-index: 100;
}
.UP_Arrow_Class {
    transform: rotate(180deg);
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 100;
    right: 1rem;
    bottom: 1rem;;
    overflow: visible;
}